{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <link rel="shortcut icon" href="{% static 'cart/img/b2/title.png' %}"/>
    <script src="{% static 'cart/js/jquery-1.12.0.js' %}"></script>
    <script src="{% static 'cart/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'cart/js/cart.js' %}"></script>
</head>
<body>
<!--头部导航-->
<div class="top">
    <div class="top-nav">
        <div class="wrapper">
            <ul>
                {% if user %}
                    <li>
                        {{ user.username }}
                    </li>
                    <li>
                        <a href="{% url 'app:logout' %}">退出</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'app:login' %}">登录</a>
                    </li>
                    <li>
                        <a href="{% url 'app:register' %}">免费注册</a>
                    </li>
                {% endif %}
                <li class="seg"></li>
                <li><a href="#">消息</a></li>
                <li class="seg"></li>
                <li><a href="#">我的订单</a></li>
                <li class="seg"></li>
                <li><a href="#">我的贝贝</a></li>
                <li class="seg"></li>
                <li><a href="#">商家中心</a></li>
                <li class="seg"></li>
                <li class="service">
                    <i class="tag-person"></i>
                    <a href="#">联系客服</a>
                    <i class="tag-v"></i>
                </li>
                <li class="seg"></li>
                <li class="attention">
                    <a href="#">关注</a>
                    <i class="tag-v"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--header-->
<div id="head">
    <div class="wrapper">
        <div class="main-logo">
            <div id="logo">
                <img class="logo-left" src="{% static 'cart/img/b0/head-left.png' %}" alt="">
                <img class="logo-right" src="{% static 'cart/img/b0/head_right.png' %}" alt="">
            </div>
            <div id="head-car">
                <img class="logo-car" src="{% static 'cart/img/b0/head-car.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="content-box">
            <div class="cart-process">
                <h1>我的购物车</h1>
                <i class="cart-merge"></i>
            </div>
            <div class="cart-list">
                <form action="" class="form1">
                    <table>
                        <!--添加商品-->
                        {% for cart in carts %}
                            <tr class="item-entry">
                            <td class="cart-check"><input type="checkbox"></td>
                            <td class="cart-info">
                                <a href="#" class="image"> <img class="cartImg" src="{{ cart.goods.img }}" alt=""></a>
                                <a href="#" class="word">{{ cart.goods.word }}</a>
                            </td>
                            <td class="cart-color">
                                <p>颜色：浅丁香</p>
                                <p>尺码：110</p>
                            </td>
                            <td class="cart-price">
                                <p class="rel-price"> {{ cart.goods.price }}</p>
                                <p><del>399.00</del></p>
                            </td>
                            <td class="cart-num">
                                <div>
                                    <a href="#" class="del-num"> <i></i></a>
                                    <input type="text">
                                    <a href="#" class="add-num"><i></i></a>
                                </div>
                            </td>
                            <td class="cart-subtotal">
                                <span>98.00</span>
                            </td>
                            <td class="cart-del">
                                <a href="#"> 删除</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="pay-bar">
                        <a href="#">确认订单</a>
                        <span class="cart-payment">￥<b></b></span>
                        <span class="cart-summary">共有 <span class="cartNum"><b></b></span>件商品<strong style="color: #FF5482;font-weight: 400"></strong> 总计(不含运费)：</span>
                        <div class="cart-total">
                            <input type="checkbox" class="checkBox3" checked>
                            <label>全选</label>
                            <a href="#">删除</a>
                        </div>
                    </div>
                </form>
                <div class="form2">
                    <div class="form-con">
                        <p class="p1">
                            <i></i>
                            <span>你的购物车还是空的，赶紧去挑选商品吧</span>
                        </p>
                        <p class="p2"><a href="{% url 'app:index' %}">去看看正在特卖中的品牌商品>></a></p>
                        <p>&nbsp;</p>
                        <p class="p3"><i></i><a href="#">刷新我的购物车</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="minato-list">
        <div class="wrapper">
            <div class="minato-content">
                <h3>购买了同样商品的用户还购买了</h3>
                <a href="#">查看更多</a>
                <div>
                    <ul class="m-list">
                        <li>
                            <div class="items-img"><img src="{% static 'cart/img/goods detail/goods-img1.jpg' %}" alt=""></div>
                            <p>MIIOW KIDS 猫人儿童男童莱卡</p>
                            <span class="m-price">￥199.00</span>
                            <span><del>￥199.00</del></span>
                        </li>
                        <li>
                            <div class="items-img"><img src="{% static 'cart/img/goods detail/goods-img2.jpg' %}" alt=""></div>
                            <p>MIIOW KIDS 猫人儿童男童莱卡</p>
                            <span class="m-price">￥238.00</span>
                            <span><del>￥199.00</del></span>
                        </li>
                        <li>
                            <div class="items-img"><img src="{% static 'cart/img/goods detail/goods-img3.jpg' %}" alt=""></div>
                            <p>MIIOW KIDS 猫人儿童男童莱卡</p>
                            <span class="m-price">￥99.00</span>
                            <span><del>￥199.00</del></span>
                        </li>
                        <li>
                            <div class="items-img"><img src="{% static 'cart/img/goods detail/goods-img4.jpg' %}" alt=""></div>
                            <p>MIIOW KIDS 猫人儿童男童莱卡</p>
                            <span class="m-price">￥79.00</span>
                            <span><del>￥199.00</del></span>
                        </li>
                        <li>
                            <div class="items-img"><img src="{% static 'cart/img/goods detail/goods-img5.jpg' %}" alt=""></div>
                            <p>MIIOW KIDS 猫人儿童男童莱卡</p>
                            <span class="m-price">￥79.00</span>
                            <span><del>￥199.00</del></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot-nav">
        <a href="#">首页</a>|
        <a href="#">关于贝贝</a>|
        <a href="#">商家入驻</a>|
        <a href="#">正品保证</a>|
        <a href="#">人才招聘</a>|
        <a href="#">联系我们</a>|
        <a href="#">帮助中心</a>|
        <a href="#">友情链接</a>|
        <a href="#">手机客户端</a>|
        <a href="#">客服在线</a>|
        <a href="#">贝贝公益</a>|
        <a href="#">品质</a>
    </div>
    <div class="foot-content">
        <div class="wrapper">
            <p>浙ICP备12005806号 |
                食品流通许可证：SP3301041510054925 |
                出版物经营许可证：新出发零字第00086号</p>
            <p> 2014-2016 贝贝beibei.com，All Rights Reserved. 客服热线：10107788</p>
        </div>
    </div>
</div>
</body>
</html>